{% extends "base.html" %}

{% block content %}
<div id="app">
    <div class="row">
        <div class="col-md-3">
             <select type="text" class="form-control" placeholder="First name" v-bind="wards.ward1" name="ward1">
                <option value="1">Ward 1</option>
                <option value="2">Ward 2</option>
             </select>
         </div>
        <div class="col-md-3">
            <select type="text" class="form-control" placeholder="Last name" name="ward2" v-bind="wards.ward2">
                <option value="1">Ward 1</option>
                <option value="2">Ward 2</option>
            </select>
        </div>
        <div class="col-md-3">
            <button class="btn btn-success" id="compare" >Compare</button>
        </div>
    </div>
<div class="comparision" >
    <div id="difference" style="width:80%; height:400px;"></div>
</div>
</div>   
{% endblock content %}

{% block script %}
<script>
    var app = new Vue({
        delimiters: ["[[","]]"],
        el: '#app',
        data: {
        wards:{
           ward1:1,
           ward2:2 
        },
        showChart:false
        },
        created:{

        },

        methods:{
            compare(){
                this.showChart = true;
            }
        }
    })
</script>

<script>
btn = document.getElementById('#compare')
    option = {
            color: ['#003366', '#006699', '#4cabce', '#e5323e'],
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: ['Forest', 'Steppe', 'Desert', 'Wetland']
            },
            toolbox: {
                show: true,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    axisTick: {show: false},
                    data: ['Ward 1', 'Ward 2']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: 'Education',
                    type: 'bar',
                    barGap: 0,
                    
                    data: [320, 332]
                },
                {
                    name: 'Sanitary',
                    type: 'bar',
                    
                    data: [220, 182]
                },
                {
                    name: 'Drinking Water',
                    type: 'bar',
                    
                    data: [150, 232]
                },
                {
                    name: 'Construction',
                    type: 'bar',
                    
                    data: [98, 77]
                }
            ]
        };
    var myChart = echarts.init(document.getElementById('difference'));
    myChart.setOption(option);
</script>
{% endblock script %}